<div ng-repeat="i in n1.instructors">
    <span ng-bind="i.first"></span>
    <span ng-bind="i.last"></span>
</div>
<input ng-model="n1.name.first">
<div ng-bind="n1.name.first"></div>
<hr>
<div ng-controller="NameTwoCtrl as n2">
    <div>N1: <input ng-model="n1.name.first"></div>
    <div>N1: <span ng-bind="n1.name.first"></span></div>
    <div>N2: <input ng-model="n2.name.first"></div>
    <div>N2: <span ng-bind="n2.name.first"></span></div>
</div>